@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: Lato;
}

a {
    text-decoration: none;
}

.nav-placeholder {
    height: 70px;
}

.nav-container {
    width: 100%;
    height: 70px;
    background-color: #89A8B2;
    padding: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-items-container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.nav-brand-container {
    height: 100%;
    width: fit-content;
}

.nav-brand-container img {
    height: 100%;
    width: 160px;
}

.nav-login-buttoms-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    height: 50%;
    width: 150px;
    background-color: #B3C8CF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #94bfce;
}

.nav-button a {
    /* color: #4c3730; */
    color: black;
    font-weight: bold;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #F1F0E8;
    position: relative;
    z-index: -2;
}

.info-text-container {
    width: 350px;
    height: fit-content;
    /* background-color: #B3C8CF; */
    background: linear-gradient(90deg, #B3C8CF, transparent);
    margin: 0;
    padding: 0;
    transform: translateX(100px);
    border-radius: 15px;
}

.info-text-container p {
    padding-left: 10px;
}

.info-image-container {
    width: 500px;
    height: 80%;
}

.info-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(to left, black 50%, transparent);
    position: relative;
    z-index: -1;
}

.start1-container {
    width: 100%;
    height: 200px;
    background-color: #F1F0E8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.start1-container .start1-free-container{
    width: fit-content;
    height: 80px;
    background-color: #B3C8CF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.start1-container .start1-price-container{
    width: fit-content;
    height: 80px;
    background-color: #F1F0E8;
    border: 2px solid #B3C8CF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.start1-container .start1-price-container:hover{
    background-color: #b0deeb;
}

.start1-container .start1-free-container:hover{
    background-color: #b0deeb;
}

.start2-container {
    width: 100%;
    height: 200px;
    background-color: #F1F0E8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.start2-container .start2-free-container{
    width: fit-content;
    height: 80px;
    background-color: #B3C8CF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.start2-container .start2-price-container{
    width: fit-content;
    height: 80px;
    background-color: #F1F0E8;
    border: 2px solid #B3C8CF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.start2-container .start2-price-container:hover{
    background-color: #b0deeb;
}

.start2-container .start2-free-container:hover{
    background-color: #b0deeb;
}

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    background-color: #F1F0E8;
    gap: 2rem;
}

.faq-container .faq-buttons-container{
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    & h1{
        margin: 0;
    }
}

.faq-container .faq-buttons-container .q1{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 3px #595959;
}

.faq-container .faq-buttons-container .q2{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 3px #595959;
    border-radius: 10px;
}

.faq-container .faq-buttons-container .q3{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 3px 3px 3px #595959;
    border-radius: 10px;
}

.faq-container .faq-answers-container{
    width: 25%;
    height: 40%;
    background-color: #ffff;
    overflow-y: hidden;
    scroll-behavior: auto;
    border-radius: 10px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 10px #595959;

    & img{
        width: 100%;
        height: 100%;
    }
}

.pricing-container{
    width: 100%;
    height: 600px;
    background-color: #F1F0E8;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pricing-container .p1{
    width: fit-content;
    height: fit-content;
    background-color: #b9ccd1;
    padding-inline: 10px;
    margin-left: 200px;
    border-radius: 10px;
}
.pricing-container .p2{
    width: fit-content;
    height: fit-content;
    background-color: #b9ccd1;
    padding-inline: 10px;
    border-radius: 10px;
}
.pricing-container .p3{
    width: fit-content;
    height: fit-content;
    background-color: #b9ccd1;
    padding-inline: 10px;
    margin-right: 200px;
    border-radius: 10px;
}




