@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: Lato;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
}

.nav-placeholder {
    height: 70px;
}

.nav-container {
    width: 100%;
    height: 70px;
    background-color: #4B164C;
    padding: 5px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-items-container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.nav-brand-container {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: end;

    & p{
        margin-bottom: 5px;
        color: white;
        font-size: 35px;
        font-family: Raleway;
    }
}

.nav-brand-container img {
    height: 100%;
}

.nav-login-buttoms-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    height: 50%;
    width: 150px;
    background-color: #dc7fcc;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #ffcbfa;
}

.nav-button a {
    color: black;
    font-weight: bold;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    width: 100%;
    background-image: url('/public/images/Meeting3.jpg');
    margin-bottom: 100px;
    background-size: cover;
    mask-image: linear-gradient(to bottom, white 80%, transparent); 
}

.info-text-container {
    width: 100%;
    height: 100%;
    margin: 0;
    backdrop-filter: blur(5px);
    text-align: center;
    display: grid;
    place-items: center; 
    padding: 200px;

    & p:nth-of-type(2){
        margin-top: -400px;
        font-size: 50px;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight:100;
    }
}

.info-text-container p {
    font-size: 75px;
    margin-top: -100px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bold;
}

.start1-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    font-size: 30px;
}

.start1-container .start1-free-container{
    width: 250px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0px;
    overflow: hidden;
    background-color: #7d1c7f;
    border: 2px solid #7d1c7f;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: all 0.2s linear 0s;
  
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 30px;
        transform: scale(0,1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    
    &:hover {
        text-indent: 30px;
        
        &:before {
        transform: scale(1,1);
        text-indent: 0;
        }
    }
}

.start1-container .start1-price-container{
    width: 300px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0px;
    overflow: hidden;
    border: 2px solid #7d1c7f;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
    color: #7d1c7f;
    font-weight: bold;
    transition: all 0.2s linear 0s;
  
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 30px;
        background-color: rgba(white,0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0,1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    
    &:hover {
        text-indent: 30px;
        
        &:before {
        transform: scale(1,1);
        text-indent: 0;
        }
    }
}
.start2-container {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
    font-size: 30px;
}

.start2-container .start2-free-container{
    width: 250px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0px;
    overflow: hidden;
    background-color: #7d1c7f;
    border: 2px solid #7d1c7f;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: all 0.2s linear 0s;
  
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 30px;
        transform: scale(0,1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    
    &:hover {
        text-indent: 30px;
        
        &:before {
        transform: scale(1,1);
        text-indent: 0;
        }
    }
}

.start2-container .start2-price-container{
    width: 300px;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0px;
    overflow: hidden;
    border: 2px solid #7d1c7f;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 7px;
    cursor: pointer;
    color: #7d1c7f;
    font-weight: bold;
    transition: all 0.2s linear 0s;
  
    &:before {
        content: "\f054";
        font-family: FontAwesome;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0px;
        height: 100%;
        width: 30px;
        background-color: rgba(white,0.3);
        border-radius: 0 50% 50% 0;
        transform: scale(0,1);
        transform-origin: left center;
        transition: all 0.2s linear 0s;
    }
    
    &:hover {
        text-indent: 30px;
        
        &:before {
        transform: scale(1,1);
        text-indent: 0;
        }
    }
}

/* FAQ */

.faq-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;

    & h1 {
        color: #4B164C;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 100px;
        font-family: 'Montserrat', sans-serif;
    }
}

.faq-details {
    width: 60%;
    padding: .5rem;
}

.faq-details[open] .faq-summary::before {
    content: '-';
}

.faq-divisory-line {
    border-top: 2px solid #b6b6b6;
    margin: .2rem 0;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 100%;
}

.faq-summary {
    list-style: none;
    cursor: pointer;
    background-color: #4B164C;
    color: #ffff;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.faq-summary::before {
    content: '+';
    padding-right: 1rem;
}

.faq-summary-content {
    background-color: #fdd4f765;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    margin-left: 1.5%;
}
/* End FAQ */

.hidden{
    display: none;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #4B164C;
    font-weight: bold;
    font-size: 0.9rem;
}

.pricing-container{
    width: 100%;
    height: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #4B164C;
    margin-top: 200px;
    margin-bottom: 100px;

    & .tics-list{
        list-style: none;

        & li::before{
            content: "✓";
            color: green;
            margin-right: 5px;
        }
    }
}

.pricing-container .p1{
    width: 20%;
    height: fit-content;
    padding-inline: 10px;
    border-radius: 10px;
    border: 3px solid #DD88CF;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p{
        margin-top: 0;
    }

    & p:nth-of-type(2){
        font-size: 16px;
        text-align: left;
        margin: 20px;
    }

    & h4{
        margin: 0;
    }
    
    & .plan1{
        width: fit-content;
        height: fit-content;
        border: 2px solid #DD88CF;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover{
            background-color: #4B164C;
            border: 2px solid #4B164C;

            & a{
                color: white;
                font-weight: bold;
            }
        }

        & a{
            color: #4B164C;
            font-weight: bold;
        }
    }
}

.pricing-container .p2{
    width: 20%;
    height: fit-content;
    border: 3px solid #863187;
    padding-inline: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p{
        margin-top: 0;
    }

    & p:nth-of-type(2){
        font-size: 16px;
        text-align: left;
        margin: 20px;
    }

    & h4{
        margin: 0;
    }

    & .vendido{
        width: 100%;
        height: 40px;
        background-color: #4B164C;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        & p{
            color: white;
            font-size: 25px;
        }
    }

    & .plan2{
        width: fit-content;
        height: fit-content;
        background-color: #4B164C;
        border: 2px solid #4B164C;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;

        &:hover{
            border: 2px solid #DD88CF;
            background-color: transparent;
            padding: 10px;

            & a{
                color: #4B164C;
                font-weight: bold;
            }
        }

        & a{
            color: white;
            font-weight: bold;
        }
    }

}

.pricing-container .p3{
    width: 20%;
    height: fit-content;
    padding-inline: 10px;
    border-radius: 10px;
    border: 3px solid #DD88CF;
    display: flex;
    flex-direction: column;
    align-items: center;

    & p{
        margin-top: 0;
    }

    & p:nth-of-type(2){
        font-size: 16px;
        text-align: left;
        margin: 20px;
    }

    & h4{
        margin: 0;
    }

    & .plan3{
        width: fit-content;
        height: fit-content;
        border: 2px solid #DD88CF;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;

            &:hover{
                background-color: #4B164C;
                border: 2px solid #4B164C;

                 & a{
                    color: white;
                    font-weight: bold;
                }
            }

        & a{
            color: #4B164C;
            font-weight: bold;
        }
    }
}

.footer-container{
    width: 100%;
    height: 1%;
    background-color: #4B164C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;

    & a{
        color: #ffff;
    }
}

.footer-container .logo{
    height: 100%;
    width: fit-content;
    user-select: none;
    & img{
        height: 100%;
        width: 120px;
    }
}

.footer-container .about{
    width: fit-content;
    height: fit-content;
    padding: 30px;
    background-color: #4B164C;

    & h4{
        margin: 0;
    }

    & p{
        font-size: 13px;
        margin-bottom: 0;
    }

}

.footer-container .about:hover{
    background-color: #fff2;
}

.footer-container .contact{
    width: fit-content;
    height: fit-content;
    padding: 30px;
    background-color: #4B164C;

    & h4{
        margin: 0;
    }

    & p{
        font-size: 13px;
        margin-bottom: 0;
    }

}

.footer-container .contact:hover{
    background-color: #fff2;
}

.footer-container .social{
    width: fit-content;
    height: fit-content;
    padding: 25px;

    & h4{
        margin-top: 0;
    }
}

.footer-container .social .social-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}



.functionality1-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 100px;
    margin-bottom: 100px;
}

.functionality1-text-container {
    height: 100%;
    width: 30%;
    text-align: justify;
    color: #4B164C;

    & h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
    }

    & p{
        font-size: 25px;
    }
}

.functionality1-image-container {
    width: 30%;
    height: 100%;

    & img {
        /*box-shadow: 3px 3px 3px #818181;*/
        border-radius: 0px 150px 0px 150px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.functionality2-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 100px;
    margin-bottom: 100px;
}

.functionality2-text-container {
    height: 100%;
    width: 30%;
    text-align: justify;
    color: #4B164C;

    & h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
    }

    & p{
        font-size: 25px;
    }
}

.functionality2-image-container {
    width: 30%;
    height: 100%;

    & img {
        /* box-shadow: 3px 3px 3px #818181; */
        border-radius: 150px 0px 150px 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Functionality viewer */

.functionality-viewer-container {
    display: flex;
    justify-content: center;
    padding: 300px 40px 300px 40px;
    background-image: linear-gradient(#F5F5F5 0 10%, #f5f5f5c3 20% 80%, #F5F5F5 90% 100%), url('/public/images/Reunion2.jpg');
    background-size: cover;
    background-position: center;
}

.functionality-viewer-container-box {
    height: 300px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

.functionality-viewer-buttons-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.functionality-viewer-funcionality-container {
    width: 80%;
    height: 100%;
    background-color: #ffff;
    border-radius: 50px;
}

.functionality-viewer-button {
    width: 90%;
    height: 30%;
    background-color: #ffff;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.functionality-viewer-button.active{
    background: linear-gradient(270deg, #ffff 97%, #a030a1 3%);
    box-shadow: 3px 3px 3px #3b3b3b;
}

.functionality-viewer-button:hover {
    background: linear-gradient(270deg, #ffff 97%, #a030a1 3%);
    box-shadow: 3px 3px 3px #3b3b3b;
    transition: 0.3s;
}

.functionality-viewer-button p {
    color: #4B164C;
    font-weight: bold;
    font-size: large;
}

 .functionality-viewer-functionality {
    height: 100%;
    width: 100%;
    display: none;
    border-radius: 50px 0 0 50px;
    text-align: justify;
    color: #4B164C;

    & p{
        padding: 30px;
    }

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50px;
    }
} 

.functionality-viewer-dividor {
    border-left: 2px solid #4b164c3b;
    height: 100%;
    border-radius: 100%;
    margin-right: 20px;
}

/* Go up button */

.goUpButton {
    background-color: #dc7fcc;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: #4B164C solid 1px;
}

.goUpButton:hover {
    background-color: #ffcbfa;
}