---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Info from "../components/Info.astro";
import StartButtons from "../components/StartButtons.astro";
import FunctionalityPanel from "../components/FunctionalityPanel.astro";
import FunctionalityViewer from "../components/FunctionalityViewer.astro";
import Faq from "../components/Faq.astro";
import Pricing from "../components/Pricing.astro";
import Footer from "../components/Footer.astro";
import GoUpButton from "../components/GoUpButton.astro";
---

<Layout>
	<NavBar />
	<Info />
	<StartButtons />
	<FunctionalityPanel
		title="Crea tu caos"
		description="Crea grupos, mete tareas, organiza tu vida como si fueras el jefe... porque lo eres (al menos en tu tablero)."
		imageUrl="/images/feature1.jpg"
		altText="Imagen de la función número 1"
		inverted={false}
	/>
	<FunctionalityPanel
		title="Arrastra y suelta"
		description="¿Querés mover una tarea? ¡Agárrala y tírala donde quieras! Reordena tu caos con solo un par de clicks."
		imageUrl="/images/feature2.png"
		altText="Imagen de la función número 2"
		inverted={true}
	/>
	<FunctionalityViewer />
	<StartButtons />
	<Faq />
	<div style="height: 200px;"></div>
	<Pricing />
	<div style="height: 300px;"></div>
	<Footer />
	<GoUpButton />
</Layout>
