---
import FaqQuestion from "./FaqQuestion.astro";
---

<div class="container">
    <h1>Preguntas frecuentes</h1>

    <FaqQuestion
        question="¿Para qué sirve esta app?"
        answer="Es una herramienta para organizar tareas, proyectos e ideas. Te permite crear tableros para tener todo en orden."
    />

    <FaqQuestion
        question="¿Tiene un plan gratuito?"
        answer="Sí, puedes usarla sin pagar. Hay funciones avanzadas disponibles en planes de pago, pero lo esencial está incluido sin coste alguno."
    />

    <FaqQuestion
        question="¿Necesito crear una cuenta para usarla?"
        answer="Sí, es necesario registrarse para guardar tu información y acceder a tus tableros. El registro es rápido y sencillo."
    />

    <FaqQuestion
        question="¿Qué diferencia tiene con otras apps parecidas?"
        answer="Es más simple, rápida y enfocada en que puedas trabajar sin distracciones. No tiene funciones innecesarias ni configuraciones complicadas."
    />
</div>

<style>
    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
        padding: 200px 40px 300px 40px;
        background-image: linear-gradient(
                #f5f5f5 0 10%,
                #f5f5f5c3 20% 80%,
                #f5f5f5 90% 100%
            ),
            url("/images/custom-service.jpg");
        background-size: cover;
        background-position: top center;
        min-height: 550px;

        & h1 {
            color: #4b164c;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 100px;
            font-family: "Montserrat", sans-serif;
        }
    }
</style>
