---

---

<script>
    import Swiper from "swiper";

    const buttons: NodeListOf<HTMLElement> = document.querySelectorAll(
        ".functionality-viewer-button",
    );
    const functionalitySwiper = new Swiper(".functionality-swiper", {
        direction: "horizontal",
        loop: false,
        allowTouchMove: true,
        slidesPerView: 1,
        spaceBetween: 30,
        speed: 600,
    });

    buttons[0].classList.add("active");

    buttons.forEach((button, index) => {
        button.addEventListener("click", () => {
            buttons.forEach((b) => b.classList.remove("active"));
            button.classList.add("active");
            functionalitySwiper.slideTo(index);
        });
    });

    functionalitySwiper.on("slideChange", () => {
        buttons.forEach((b) => b.classList.remove("active"));
        buttons[functionalitySwiper.activeIndex].classList.add("active");
    });
</script>

<div class="functionality-viewer-container">
    <div class="functionality-viewer-container-box">
        <div class="functionality-viewer-buttons-container">
            <div class="functionality-viewer-button" data-index="0">
                <p>Funcionalidad 1</p>
            </div>
            <div class="functionality-viewer-button" data-index="1">
                <p>Funcionalidad 2</p>
            </div>
            <div class="functionality-viewer-button" data-index="2">
                <p>Funcionalidad 3</p>
            </div>
        </div>

        <div class="functionality-viewer-dividor"></div>
        <div
            class="swiper functionality-swiper functionality-viewer-funcionality-container"
        >
            <div class="swiper-wrapper">
                <div class="swiper-slide functionality-viewer-functionality">
                    <img src="/images/no-image.jpg" alt="no-image" />
                </div>
                <div class="swiper-slide functionality-viewer-functionality">
                    <img src="/images/no-image.jpg" alt="no-image" />
                </div>
                <div class="swiper-slide functionality-viewer-functionality">
                    <!-- <img src="/images/no-image.jpg" alt="no-image" /> -->
                     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, consequuntur deserunt? Provident similique doloribus cupiditate odio illo sed ut enim. Minus officia illo quod praesentium, iste sapiente hic eaque deleniti.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .functionality-viewer-container {
        display: flex;
        justify-content: center;
        padding: 300px 40px 300px 40px;
        background-image: linear-gradient(
                #f5f5f5 0 10%,
                #f5f5f5c3 20% 80%,
                #f5f5f5 90% 100%
            ),
            url("/images/meeting2.jpg");
        background-size: cover;
        background-position: center;
    }

    .functionality-viewer-container-box {
        height: 300px;
        width: 60%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 10px;
    }

    .functionality-viewer-buttons-container {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
    }

    .functionality-viewer-funcionality-container {
        width: 80%;
        height: 100%;
        border-radius: 50px;
    }

    .functionality-viewer-button {
        width: 90%;
        height: 30%;
        background-color: #ffff;
        border-radius: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .functionality-viewer-button.active {
        background: linear-gradient(270deg, #ffff 97%, #a030a1 3%);
        box-shadow: 3px 3px 3px #3b3b3b;
    }

    .functionality-viewer-button:hover {
        background: linear-gradient(270deg, #ffff 97%, #a030a1 3%);
        box-shadow: 3px 3px 3px #3b3b3b;
        transition: 0.3s;
    }

    .functionality-viewer-button p {
        color: #4b164c;
        font-weight: bold;
        font-size: large;
    }

    .functionality-viewer-functionality {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50px 0 0 50px;
        text-align: justify;
        color: #4b164c;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            transition: 0.3s;
            cursor: pointer;
        }
    }

    .functionality-viewer-dividor {
        border-left: 2px solid #4b164c3b;
        height: 100%;
        border-radius: 100%;
        margin-right: 20px;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        border-radius: 50px;
    }
</style>
