---

---

<div class="nav-placeholder"></div>
<div class="nav-container">
    <div class="nav-items-container">
        <a href="/index.html">
            <div class="nav-brand-container">
                <img src="/branding/Nx.png" alt="Logo de Nexo" />
                <p>Nexo</p>
            </div>
        </a>
        <div class="nav-login-buttoms-container">
            <div class="nav-price-button-container nav-button">
                <a href="/index.html">Precio</a>
            </div>
            <div class="nav-login-button-container nav-button">
                <a href="/index.html">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>

<style>
    .nav-placeholder {
        height: 70px;
    }

    .nav-container {
        width: 100%;
        height: 70px;
        background-color: #4b164c;
        padding: 5px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        z-index: 1000;
    }

    .nav-items-container {
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: space-between;
        user-select: none;
    }

    .nav-brand-container {
        height: 100%;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: end;

        & p {
            margin-bottom: 5px;
            color: white;
            font-size: 35px;
            font-family: Raleway;
        }
    }

    .nav-brand-container img {
        height: 100%;
    }

    .nav-login-buttoms-container {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-button {
        height: 50%;
        width: 150px;
        background-color: #dc7fcc;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .nav-button:hover {
        background-color: #ffcbfa;
    }

    .nav-button a {
        color: black;
        font-weight: bold;
    }
</style>
