---

---

<div class="start1-container">
    <a href="/index.html">
        <div class="start1-free-container">Empieza gratis</div>
    </a>
    <a href="/index.html">
        <div class="start1-price-container">Encuentra tu plan</div>
    </a>
</div>

<style>
    .start1-container {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 100px;
    }

    .start1-container .start1-free-container {
        width: fit-content;
        height: 80px;
        background-color: #dc6eca;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 7px;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }

    .start1-container .start1-price-container {
        width: fit-content;
        height: 80px;
        border: 2px solid #dd88cf;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 7px;
        cursor: pointer;
        color: #4b164c;
        font-weight: bold;
    }

    .start1-container .start1-price-container:hover {
        background-color: #ffb7f7;
    }

    .start1-container .start1-free-container:hover {
        background-color: #ffb7f7;
    }
</style>
