---

---

<div class="container">
    <a href="/index.html">
        <div class="start-free-button">Empieza gratis</div>
    </a>
    <a href="/index.html">
        <div class="find-plan-button">Encuentra tu plan</div>
    </a>
</div>

<style>
    .container {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 100px;
    }

    .container .start-free-button {
        width: fit-content;
        height: 80px;
        background-color: #dc6eca;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 7px;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }

    .container .find-plan-button {
        width: fit-content;
        height: 80px;
        border: 2px solid #dd88cf;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 7px;
        cursor: pointer;
        color: #4b164c;
        font-weight: bold;
    }

    .container .find-plan-button:hover {
        background-color: #ffb7f7;
    }

    .container .start-free-button:hover {
        background-color: #ffb7f7;
    }
</style>
